#storeListWrapper{
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.storeListWrap{
    display: flex;
    padding: 10px 20px;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    align-self: stretch;
}
.store{
    width: 100%;
}