.orderWraper {
  display: flex;
  flex-direction: column;

  padding: 20px;

  box-sizing: border-box;

  background: #f9f9fb;
}
.orderListWrapper {
  display: flex;
  padding: 10px 0px;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  flex-shrink: 0;
  align-self: stretch;
}
