.dateWrapper {
  display: flex;
  width: 131px;
  height: 29px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  border-radius: 15px;
  background: #f2f3f8;

  color: #000;
  font-size: 14px;
}
